
html {
    color: #000;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #f2f2f2;
    font-family: Arial,Sans-Serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 { margin: 0 0 6px 0}

input { 
    border-radius: 5px;
    min-height: 25px;
 }

.header {
    /* background-color: #f5aeae; */
    height: 128px;
}

.header .superior-header-content {
    /* background-color: #f5aeae; */
    margin: 0 auto;
    margin-top: 10px;
    width: 1024px;
}

.header .superior-header-content .logo-place {
    float: left;
    margin: 0 20px;
    width: 250px;
}

.header .superior-header-content .logo-place .title-logo {
    text-transform: uppercase;
    font-size: 30px;
    margin: 10px 0 0 0;
    color: #ca0000;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -1.3px;
    background: linear-gradient(to right, rgb(255, 210, 10), #ca0000, #ca0000, #ca0000, #ca0000);
    -webkit-background-clip: text;
    color: transparent;
}

.header .superior-header-content .logo-place .subtitle {
    font-weight: 300;
}

.header .superior-header-content .search-box-area {
    float: left;
    margin: 0 20px;
    padding: 5px;
    width: 400px;
}   

.header .superior-header-content .search-box-area .header-search {
    border: none;
    border-radius: .125rem 0 0 .125rem;
    font-size: .75rem;
    padding: .625rem .875rem;
    width: 100%;
    min-height: 0;
    height: 17px;
}

/* 
.header .superior-header-content .search-box-area .header-search:hover {
    border: 0;
    box-shadow: 0 0 .2px 1px get-color(plata);
    outline: none;
    transition: width 6s cubic-bezier(0, 1.22, .66, 1.39), border-radius 6s, background 6s;
    width: 200px;
} */

.header .superior-header-content .search-box-area .header-search:focus {
    box-shadow: 0 0 0 1.4px get-color(cobalt-blue);
    color: get-color(night);
    cursor: text;
    outline: none;
}

.header .superior-header-content .search-box-area .search-button {
    position: relative;
    height: 35px;
    font-size: 1rem;
    width: 35px;
    left: 395px;
    top: -36px;
    color: #333;
    background: #ffeb00;
    border: 0;
    right: 0;
}